/* !!!!!! Colors used!!!!!!!*/
/* teal = #4aaaa5 */
/*#dark teal= #1F5D5A */
/* font color except for headings = #777777 */
/* Main header background color = #ffffff  */
/* Main header border color = #cccccc  */
/* Footer background color = #666666  */
/* Main content background color = #ffffff  */
/* Main content border color = #dddddd  */


/*General Styles*/

body{
  background-image: url("../images/weather/weather.png");
  margin:0;
  font-family: BlinkMacSystemFont, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;
  height:100%;
  width:100%;

}

.wrap{
  min-height: 100%;
  clear: both;
  width:100%;
  position: absolute;

}

a, a:hover, a:active, a:focus { 
  outline: 0; 
  color: #fff; 
  text-decoration: none; 
}

.box-shadow{
  /*-webkit-box-shadow: 1px 1px 2px 0px rgba(102,102,102,0.41);*/
/*  -moz-box-shadow: 1px 1px 2px 0px rgba(102,102,102,0.41);*/
  box-shadow: 1px 1px 2px 0px rgba(102,102,102,0.41);
}


p{
  margin-top: 0px;
  line-height: 26px;
  text-shadow: 0px 1px 0px #fff;
  display:inline;
  text-align: justify;  

}

.center{
  text-align: center;
}

.float-left{
  float:left;
}

.float-right{
  float:right;
}
.clear{
  clear: both;
}
h1, h2, h3, h4, h5, h6{
  color:#4aaaa5;
  text-shadow: 0px 1px 0px #fff;
}

h1{
  font-size: 2em;
  font-family: BlinkMacSystemFont, 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 0px 1px 0px #fff;
}

.container {
  height:100%;
  width:90%;
  padding:2em 2em 10em 5% ;
  position:relative;
  overflow: auto;
  z-index: 1;

}

button{
  margin:0px;
  padding-top:2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  border:0px;
  border-right: 1px solid #f5f5f5;
  background-color:#ffffff;
  font-size: 14px;
  color:#777777;
}

/*Navigation Styles*/

.nav{
  background-color: #fff;
  z-index: 2;
}

.nav-hearder{
  padding-right: 5%;
  padding-left: 5%;
  margin: 0px;

}

.nav-buttons{
  float: right;
}

.nav-title{
  background-color: #4aaaa5;
  color:#fff;
}

.nav-button:hover { 
  background-color: #4aaaa5;
  color: #fff; 
  text-decoration: none; 
}

 .nav-title:hover {
  background-color: #fff;
  color: #4aaaa5; 
  text-decoration: none;
 }

/*Content Styles*/

.row{
  display:inline;
}

.title{
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 2em;
}

.about-me {
  width:65% ;
  float:left;
/*  margin: 2% 1em 0 5%;*/
  background-color: #fff;
  padding:2em;
}

.connect-me{
  background-color: #fff;
  width:22%;
  float:right;
/*  margin-right: 5%;
  margin-top: 2%;*/
  padding:2em;
}

#icon-panel{
  margin:0 auto;
  padding:0 0 0 2em;

}

.icon{
  height:52px;
  margin-right: .5em;
  margin-right: 1em;
}

#profile-pic{
  width: 200px;
  float:left;
  margin:0 2em 2em 0;
}

.quote{
  width:20%;
  margin:1em;
}


h1 span{
  color:#777777;
}

h1.pull-quote {
  margin:0;
  display: inline-block;
}

.block{
  display: block;
  margin: 1em;
}

p.block{

}
/*Form Styles*/

form{
  padding-right:1em;
}

.input{
  padding:.5em 1em;
  outline:none;
  margin-bottom:1em;
}

label{
  display:block;
  margin-bottom: .5em;
}
input {
  width:100%;
  border:none;
  border-bottom: 1px solid #4aaaa5;
}
input:focus{
  border:none;
  border-bottom: 1px solid #1F5D5A;
}

textarea{
  width:100%;
  border-color: #4aaaa5;
}
textarea:focus{
  border: 1px solid #1F5D5A;
}

/*Gallery Styles*/

.gallery-pic{
  width:400px;
  position:relative;
  z-index: 1;
  margin-bottom: 2em;
}
.gallery-pic img{
  float:left;
  width:400px;
  position:relative;
  z-index: 1;
}

.gallery-pic span{
  position:absolute; 
  width:100%;
  padding:1em 0;
  background-color: #4aaaa5;
  color:#fff;
  text-align: center;
  top:352px;
  left:0;
  z-index: 2;
}


.form-button{
  background-color: #4aaaa5;
  color:#fff;
  padding:1em 2em;
}

/*Footer Styles*/

.footer{
  clear:both;
  padding:5%;
  width: 100%;
  background-color: #666666;
  border-top: 8px solid;
  border-color: #4aaaa5;
  color: #fff;
  padding: 2em 0;
  text-align: center;
  margin-top:;
  position:absolute;
  bottom:0;
  height: 2em;

}


footer p { 
  font-size: 12px;
  text-shadow: 0px 1px 0px #000;
}


/*navigation bar*/
a {
  text-align: none;
  color:inherit;
}

.nav-collapse{

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    padding:0 5%;
    font-size: 16px;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
      margin:0px;
  padding-top:2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  border:0px;
  border-right: 1px solid #f5f5f5;
}

li.nav-button{
  float: right;
  color: #777777;
}

li a.nav-button{
  float: right;
  color:#fff;
}

li.nav-header{
  background-color: #4aaaa5;
  color: #fff;
}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4aaaa5;
    color:#fff;
}

a.nav-header:hover {
    background-color: #fff;
    color:#4aaaa5;
}